@{
    ViewData["Title"] = "About";
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
            <p class="lead">
                .NET Infinium is a blog application built with C# ASP.NET Core 6 MVC.
                The purpose of this app is to demonstrate my competency in building Web Apps in the .NET Ecosystem.
            </p>
            <p>This project utilizes the following technologies:</p>
            <ul>
                <li>HTML5/Bootstrap 5</li>
                <li>CSS</li>
                <li>C#</li>
                <li>ASP.NET Core MVC</li>
                <li>Postgres SQL Server</li>
                <li>Entity Framework Core</li>
                <li>ASP.NET Identity</li>
                <li>JavaScript</li>
            </ul>
            <p>
                Thank you for taking the time to have a look around! I am a fullstack .NET developer that primarily enjoys working with C# backend technologies.
            </p>
            <p>
                Please also feel free to visit my <a href="https://www.linkedin.com/in/hananiahlinde/" target="_blank">LinkedIn</a> and my 
                <a href="https://github.com/hananiah-linde" target="_blank">GitHub</a>.
            </p>
        </div>
    </div>
</div>